<script>
	import Example from "./Example.svelte";
	import Home from "./Home.svelte";
	import History from "./History.svelte"
	
	export let menu = 1;



</script>

<style>
	ul#menu li{
		display : inline;
	}
</style>

<ul id="menu">
	<li><a href="/" on:click|preventDefault={() => (menu = 1)}>Home</a></li> |
	<li><a href="/" on:click|preventDefault={() => (menu = 2)}>History</a></li> |
	<li><a href="/" on:click|preventDefault={() => (menu = 3)}>Example Parse Fanfic</a></li>
</ul>

{#if menu === 1}
<Home />
{:else if menu === 2}
<History />
{:else if menu === 3}
<Example />
{:else}
<h1>
	Page Not Found
</h1>
{/if}