<script>
	let url;
	export let fanficHistory = [];
	let isProd = process.env.isProd;
	const host = process.env.apiURL;
	const port = process.env.apiPORT
	let apiUrl = host+port

async function doPost () {
		var requestOptions = {
		  method: 'GET',
		  redirect: 'follow'
		};
		url = "http://"+ apiUrl + "/api/fanfics"
		const res = await fetch(url, requestOptions)
		fanficHistory = await res.json();
		console.log(fanficHistory)

	}


</script>

<h1>History</h1>

<button on:click={doPost()}>Get History</button>
{fanficHistory[0]}

