<script>
	import axios from "axios";
	import qs from "qs";
	import {store} from './stores.js'
	import Hidden from './Hidden.svelte';
	// import Head from './Head.svelte'

	let child;
	let url;
	let bearer;
	let fanficinfo = [];
	let title = "Awating parsing";
	let notfound = '';
	let isProd = process.env.isProd;
	const host = process.env.apiURL;
	const port = process.env.apiPORT
	let apiUrl = host+port

	// console.log($store.WorkID)
	async function doGetFanfic () {

		var requestOptions = {
		method: 'GET',
		redirect: 'follow'
	};
	url = "http://"+ apiUrl + "/api/fanfic?WorkID="+ $store.WorkID+"&ChapterID="+ $store.ChapterID
	const res = await fetch(url, requestOptions)
	if (res.statusText == "Not Found") {
		console.log("no fanfic found doing post")
		notfound = "yolo"
		console.log(fanficinfo)
	}
	notfound = "aa"
	fanficinfo = await res.json();
	console.log(fanficinfo)

	}
	async function doPost () {
		console.log($store.WorkID)
		var myHeaders = new Headers();
		myHeaders.append("Authorization", "Bearer "+ $store.AppJWTToken);
		myHeaders.append("Content-Type", "application/x-www-form-urlencoded");
		var urlencoded = new URLSearchParams();
		urlencoded.append("WorkID", $store.WorkID);
		urlencoded.append("ChapterID", $store.ChapterID);

		var requestOptions = {
		  method: 'POST',
		  headers: myHeaders,
		  body: urlencoded,
		  redirect: 'follow'
		};

		fetch("http://localhost:3000/api/fanfic", requestOptions)
		  .then(response => response.json())
		  .then(result => console.log(result))
		  .catch(error => console.log('error', error));
		console.log(response.status)
	}
		
</script>


<svelte:head>
	<title>{title}</title>
	<meta name="robots" content="noindex nofollow" />
	<html lang="en" />
</svelte:head>


<main>

	<h4>Welcome to capoverflow ao3 webparser</h4>


	<input bind:value={$store.WorkID} />
	<input bind:value={$store.ChapterID}/>
	<button on:click={doGetFanfic($store.WorkID)}>Get fanfic</button>
		<div>
			<p>Result:</p>
			<li><a href="https://archiveofourown.org/works/{$store.WorkID}/navigate?view_adult=true">{fanficinfo.Title} by {fanficinfo.Author}</a></li>
		</div>
	{notfound}
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}
	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}

	/* .shown {
		display: none;
	} */
</style>