<script>
    import { authToken } from "./stores.js";
  
    let password = "ender";
    let identity = "ender";
    let error;
  
    const handleLogin = async () => {
      const response = await fetch("https://www.myapi.com/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        body: JSON.stringify({ identity, password }),
      });
  
      const parsed = await response.json();
  
      if (parsed.token) {
        $authToken = parsed.token;
      } else {
        error = parsed.error;
      }
    };
  </script>
  
  <form on:submit|preventDefault="{handleLogin}" method="post">
    <label>
      Email:
      <input type="email" bind:value="{email}" />
    </label>
    <label>
      Password:
      <input type="password" bind:value="{password}" />
    </label>
    <button type="submit">Login</button>
  </form>
  
  {#if error}
  <p>{error}</p>
  {/if}
  